<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<services>
			<!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
			<service name="ISStorehouseService.StorehouseService"
					 behaviorConfiguration="StorehouseServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ISStorehouseService/service"/>
					</baseAddresses>
				</host>
				<!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ISStorehouseService/service  -->
				<endpoint address=""
                  binding="wsHttpBinding"
                  contract="ISStorehouseService.IStorehouseService" />
				<!-- the mex endpoint is exposed at http://localhost:8000/ISStorehouseService/service/mex -->
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
		<serviceBehaviors>
			<behavior name="StorehouseServiceBehavior">
				<serviceMetadata httpGetEnabled="true"/>
				<serviceDebug includeExceptionDetailInFaults="False"/>
			</behavior>
		</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>